<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="/user.css" rel="stylesheet">
</head>
<body>
    <form action="/users" method="POST">
        <div>Email:<input name="email" type="email" required></div>
        <div>Username:<input name="username" type="text"  required></div>
        <div>Password:<input name="password" type="password" required></div>
        <div><button type="submit">Create new User</button></div>
    </form>
</body>
</html>
